
.well {
	background: none;
	border: none;
	box-shadow: none;
	max-width: 520px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
}