
.adsense {

	text-align: center;

}

.home-adsense {
	margin-bottom: 30px;
	margin-left: -10px;
	margin-right: -10px;
}

.list-group-item .adsense {
	// margin-top: -10px;
	margin-bottom: -10px;
}

.list-group-item-adsense {
	min-height: 80px;
}

.well .adsense {
	margin-bottom: 10px;
}