
@import 'login-form';
@import 'nav';
@import 'loading';
@import 'well';
@import 'footer';
@import 'newsletter-signup-form';

$fa-font-path: "/assets/fonts";
@import '../node_modules/font-awesome/scss/font-awesome';

* {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h1 a, h1 a *, h1 a:hover, h1 a:active, h1 a:focus, .form-signin, .form-signup, .package-tracker, .btn, .btn:active, .well {
	color: #666666;
}
h1 a:hover, h1 a:hover *, h1 a:active, h1 a:active *, h1 a:focus, h1 a:focus * {
	text-decoration: none !important;
}
body {
	background-color: #eff2f3;
	position: relative;
	padding-top: 70px;
}
.main {
	max-width: 620px;
	margin: 0 auto;
	padding: 30px 10px 10px;
}
.enterTrackingInfo {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}
.enterTrackingInfo label, .enterTrackingInfo input, .enterTrackingInfo select {
	font-size: 20px;
	font-weight: 300;
}
.enterTrackingInfo .form-group {
	margin-bottom: 20px;
}
h1, h1 * {
	font-family: 'Contrail One', cursive;
	text-align: center;
	font-size: 64px;
	margin-bottom: 25px;
	line-height: 0.5;
}
h1.small-title, h1.small-title * {
	font-size: 35px;
}
h1 small {
	font-size: 19px;
	color: #999;
	display: inline-block;
	margin-left: 10px;
}
h1.small-title small {
	font-size: 16px;
}
.logo {
	height: 50px;
	width: 68px;
	vertical-align: baseline;
	margin-bottom: -2px;
	margin-right: 15px;
	display: inline-block;
}
h1.small-title .logo {
	height: 30px;
}


@media only screen and (-webkit-max-device-pixel-ratio: 1.5),
 only screen and (-o-max-device-pixel-ratio: 3/2),
 only screen and (max--moz-device-pixel-ratio: 1.5),
 only screen and (max-device-pixel-ratio: 1.5) {
  .logo {
    background: url(/assets/logo-68x50.png) no-repeat;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
  .logo {
    background: url(/assets/logo-68x50@2x.png) no-repeat;
    background-size: 68px 50px;
  }
}


.inline-input {
	display: inline-block;
	width: auto;
}
#txtTrackingNumber {
	//text-align: center;
}

#trackingLinesSection {
	margin-top: 30px;
	font-size: 14px;
	font-weight: 300;
}
#trackingLinesSection .loading, #trackingLinesSection .error {
	text-align: center;
}
img.line-data {
	filter: contrast(112%);
	-webkit-filter: contrast(112%);
	-moz-filter: contrast(112%);
	-ms-filter: contrast(112%);
	-o-filter: contrast(112%);
}

.input-group .input-group-btn .btn-lg {
	line-height: 24px;
}

.list-group-item.newsletter {
	background-color: #F2F2F2;
	text-align: center;
}
