
.well, .panel {
	background: rgba(255, 255, 255, 0.59);
	border: none;
	box-shadow: none;
	max-width: 520px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
}

.well {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.well-lg {
	font-size: large;
}

.well-left {
	text-align: justify;
}

.page {

	.page-header {
		font-family: 'Contrail One',cursive;
		color: #666666;
		max-width: 520px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -16px;
		padding-top: 96px;
		padding-left: 13px;
	}

	.panel {
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		font-size: large;

		.carriers-logo-list {
			text-align: center; 

			img {
				-webkit-filter: grayscale(100%) contrast(39%) brightness(142%);
				filter: grayscale(100%) contrast(39%) brightness(142%);
			}
		}
	}
}